{% extends 'base.html.twig' %}
{% block title %}Paiement
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/css/paiement.css") }}">
{% endblock %}
{% block body %}
	<div class="container">
		{{ include('partials/_sidebar.html.twig') }}
		<div class="main-content">
			<h1>Paiement</h1>
			{% if paiementsByUser is empty or paiementsByUser.solde is empty or paiementsByUser.solde == 0 %}
				{% include 'profile/partials/_paiement_sans_credit.html.twig' %}
			{% else %}
			{% include 'profile/partials/_paiement_avec_credit.html.twig' %}
			{% endif %}
		</div>
	</div>
	{% block javascripts %}
        <script src="{{ "assets/js/paiement.js" }}" defer></script>
    {% endblock %}
{% endblock %}
