<form method="post" action="{{ path('app_payment_verification_delete', {'id': payment_verification.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ payment_verification.id) }}">
    <button class="btn">Delete</button>
</form>
