.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active  {
    color: #fff !important;
    background-color: #ff0080 !important;
    border-color: #ff0080 !important;
}

.btn-primary {
    background-color: #ea5ec7;
    border-color: #ea5ec7;
    color: #fff;
}

.btn-primary:hover {
    background-color: #ff0080;
    border-color: #ff0080;
}